.prdGrp__wrp{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  
}

.prdGrd__card{
  /* border-radius: 5px; */
  box-shadow: 0 0 0 1px #bbbbbd;
  overflow: hidden;
  max-width: 65px;
  width: 100%;
  position: relative;
}

.prdGrd__card__img__wrp{
  box-shadow: 0 0 0 1px #bbbbbd;
  padding: 5px;
}

.prdGrd__card__img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.prdGrd__link{
  position: absolute;
  color: transparent;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.prdGrd__type{
    margin: 0;
    font-size: 12px;
    /* overflow-wrap: break-word; */
    line-height: 1.3;
    padding: 2px 4px;
    text-align: center;
    font-weight: 300;
}